<h1>Thank you</h1>

<h3><%= message %></h3>
<%# <a href="/auth"><button type="button" name="button">Home</button></a>%>
<div class="alert alert-warning">
    <strong>Warning!</strong>  You have successfully deleted this user. <a href="/users/id/delete" class="alert-link">Please click to return.</a>.
  </div>
<script type="text/javascript">
</script>
